@import '_variables.scss';
@import "~bootstrap/scss/mixins";

$curve-height: 160px;
$curve-radius: 160px;

.simpleHero {
  position: relative;
  background-color: $blue-ivy-10;

  &::before {
    content: '';
    background-color: $blue-ivy-80;
    width: 100%;
    position: absolute;
    bottom: 0px;
  }

  &::after {
    content: '';
    background-color: $white;
    width: 100%;
    position: absolute;
    bottom: 0px;
  }

  @include media-breakpoint-up(xs) {
    padding: 40px 0 calc(40px + calc($curve-radius / 2.5));

    &::before {
      height: calc(($curve-height / 2.5));
      border-top-right-radius: calc($curve-radius / 2.5);
    }

    &::after {
      height: calc(($curve-height / 2.5) - 14px);
      border-top-right-radius: calc($curve-radius / 2.5);
      transform: translateY(1px);
    }
  }

  @include media-breakpoint-up(md) {
    padding: 48px 0 calc(56px + calc($curve-radius / 1.5));

    &::before {
      height: calc(($curve-height / 1.5));
      border-top-right-radius: calc($curve-radius / 1.5);
    }

    &::after {
      height: calc(($curve-height / 1.5) - 16px);
      border-top-right-radius: calc($curve-radius / 1.5);
      transform: translateY(1px);
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 56px 0 calc(64px + $curve-height);

    &::before {
      height: $curve-height;
      border-top-right-radius: $curve-radius;
    }

    &::after {
      height: $curve-height - 24px;
      border-top-right-radius: $curve-radius;
      transform: translateY(1px);
    }
  }

  p {
    font-size: 24px;
    line-height: 36px;
    color: $gray-text-light;
    margin-top: 24px;

    @include media-breakpoint-up(lg) {
      max-width: 80%;
    }
  }
}
