@import "_variables.scss";
@import "~bootstrap/scss/mixins";

.textColumn {
  &.standard {
    margin: 80px 0;

    @include media-breakpoint-up(md) {
      margin: 104px 0;
    }
  }

  a {
    color: $gray-text;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.title {
  margin-bottom: 16px;
}
